h1{
    color: rgb(15, 12, 109);
    font-size: 70px;
    text-align: center;
    border: 20px double rgb(100, 8, 8);
}
h2{
    color: hsl(0, 89%, 19%);
    font-size: 40;
    text-align: center;
}
h3{
    color: rgb(6, 19, 136);
    font-size: 30;
    text-align: center;
}

body{
background-color: rgb(181, 208, 223);
}
